@use "@/styles/mixins/buttons";

.article {
  width: 100%;
}

.completeLessonBtn {
  @include buttons.button-color(var(--accent-primary));
  margin-top: 40px;

  &.completed {
    background-color: var(--inactive);
    cursor: default;
  }
}