@use "@/styles/variables/colors";
@use "@/styles/mixins/media";

.page {
  min-height: calc(100svh - 62px);
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: 0 var(--page-pad-x);
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: var(--page-top-margin);
  margin-bottom: var(--page-bottom-margin);
  max-width: var(--max-width);
  width: 100%;
}

.courseSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.courseSectionTopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courseContent {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 40px;

  .articleWrapper {
    width: 100%;
  }

  .chapterMenu {
    width: 100%;
  }

  .chapterMenuWrapper {
    display: block;
  }

  .chapterMenuDropdownWrapper {
    display: none;
    width: 100%;
    justify-content: flex-end;

    .showChapterMenuDropdownBtn {
      display: flex;
      gap: 3px;
      padding: 8px;
      border-radius: var(--standard-radius);
      cursor: pointer;
      background-color: var(--card-mild);
      border: var(--card-outline) solid 1px;
    }
  }

  @include media.breakpoint(small) {
    grid-template-columns: 200px 1fr;
  }

  @include media.breakpoint(tablet) {
    grid-template-columns: 1fr;

    .chapterMenuWrapper {
      display: none;
    }

    .chapterMenuDropdownWrapper {
      display: flex;
    }
  }
}


.article {
  width: 100%;

  h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

//.code {
//  font-family: 'Geist Mono', 'Geist Mono Fallback', monospace;
//  border: 1px solid var(--card-outline);
//  border-radius: var(--standard-radius);
//  font-size: 14px;
//}