@use "@/styles/variables/colors";
@use "@/styles/mixins/media";
@use "@/styles/mixins/buttons";

.page {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: 0 var(--page-pad-x);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  gap: 20px;
  margin-top: var(--page-top-margin);

  h1 {
    color: var(--text);
  }

  .goToCoursesBtn {
    @include buttons.button-color(var(--accent-primary));
    width: 200px;
  }

  .signUpLink {
    font-weight: 600;
    color: var(--accent-secondary)
  }

  @include media.breakpoint(tablet) {
    margin-top: 150px;
    h1 {
      font-size: 28px;
    }

    .goToCoursesBtn {
      font-size: 14px;
      width: 150px;
    }
  }
}
