.dropdownMenuList {
  display: inline-block;
  overflow: hidden;
  text-align: left;
  background: var(--card);
  border: var(--card-outline) 1px solid;
  border-radius: 12px;
  box-shadow: var(--shadow-sm);
}

.dropdownMenuItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
  color: var(--text-gray);
  font-size: 14px;
  background: var(--card);
  cursor: pointer;

  &:hover {
    background: var(--card-mild);
  }
}